*.pyc
*.pdf
*.ipynb
*.jpg
*.docx
*.DS_Store
*.ipynb_checkpoints
.ipynb_checkpoints/
*.egg-info
.pytest_cache
build
dist
references
docs/_build
surpyval-env
.python-version
surpyval/pyvenv.cfg
surpyval/bin
surpyval/share
surpyval/include
surpyval/lib
__pycache__/


