# Production requirements
# For development, use requirements_dev.txt instead
lifelines==0.27.4
numba==0.56.4
numpy-indexed==0.3.5
reliability==0.8.6
matplotlib==3.6
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability