# Include production requirements
-r requirements.txt

# Dev requirements
black
flake8
flake8-pyproject
mypy
pytest
coverage
pre-commit
scikit-survival
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
