name: actions

run-name: SurPyval CI

on: [push]

env:
  SRC: surpyval # Source directory to run jobs on

jobs:
  repyability_ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set-up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_dev.txt
      
      - name: pytest
        run:
          coverage run -m pytest
      
      - name: coverage
        run: |
          coverage report
          coverage html

      - name: Upload coverage html report artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage-html-report
          path: htmlcov/
      
      - name: flake8
        run: flake8 $SRC
      
      - name: mypy
        run: mypy
      
      - name: black
        run:
          black $SRC